html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}

#map {
	height: 100%;
	
}

#locations-list {
	
	
	position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 30%;
    
}